version: '3.0'
services:
   parity:
       container_name: parity
       ports:
       - 8080:8080
       - 8180:8180
       - 8545:8545
       - 8546:8546
       - 30303:30303
       image: parity/parity:stable
       volumes:
       - ./config.toml:/parity/config.toml:ro
       - ./data:/parity/data
       command: --config /parity/config.toml -d /parity/data
    
   downloader:
       container_name: downloader
       image: node
       depends_on:
       - parity
       working_dir: /app
       volumes:
       - ./downloader/:/app
       - ./database:/database
       command: bash -c "sleep 10; node index.js > /database/transactions.dat"
